In [21]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from fake_useragent import UserAgent
import datetime
import time
import random
from sqlalchemy import create_engine
import mysql.connector

In [2]:
ua = UserAgent()
headers = {"User-Agent":ua.random}

In [10]:
url = "https://isin.twse.com.tw/isin/C_public.jsp?strMode=2"
res = requests.get(url,headers=headers)
soup = BeautifulSoup(res.text,'html.parser')
table = soup.find("table",class_="h4")
stock_list = []

for tr in table.find_all("tr")[2:]:
    try:
        storage = tr.find("td").text.split("\u3000",1)
        stock_number = storage[0]
        stock_name = storage[1]

        stock_createdate = tr.find_all("td")[2].text

        stock_class = tr.find_all("td")[3].text
        stock_type = tr.find_all("td")[4].text

        stock_dict = {
            "stock_number":stock_number,
            "stock_name":stock_name,
            "stock_createdate":stock_createdate,
            "stock_class":stock_class,
            "stock_type":stock_type
        }

        stock_list.append(stock_dict)
    
    except IndexError:
        pass

df = pd.DataFrame(stock_list,columns = ["stock_number","stock_name","stock_class","stock_type","stock_createdate"])

In [11]:
df

      stock_number stock_name stock_class stock_type stock_createdate
0             1101         台泥          上市       水泥工業       1962/02/09
1             1102         亞泥          上市       水泥工業       1962/06/08
2             1103         嘉泥          上市       水泥工業       1969/11/14
3             1104         環泥          上市       水泥工業       1971/02/01
4             1108         幸福          上市       水泥工業       1990/06/06
...            ...        ...         ...        ...              ...
16607       01003T     兆豐新光R1          上市                  2005/12/26
16608       01004T     土銀富邦R2          上市                  2006/04/13
16609       01007T     兆豐國泰R2          上市                  2006/10/13
16610       01009T     王道圓滿R1          上市                  2018/06/21
16611       01010T     京城樂富R1          上市                  2018/12/05

[16612 rows x 5 columns]

In [ ]:
#連結資料庫
#範本解釋:create_engine('mysql+mysql_driver://mysql帳號:mysql密碼@機器ip:mysql_port/DB名稱?其他參數', encoding='mysql編碼'
#charset=utf8 資料庫編碼
engine = create_engine('mysql+mysqlconnector://root:root@192.168.56.112:3306/Stock?charset=utf8', encoding='utf-8')
con = engine.connect() #建立連結

for item in Taipei:
    df = pd.DataFrame(item, index=[0]) # 為何加入index[0]:因為單次僅一個dict轉成df,詳情:https://reurl.cc/4gm4qD
    try:
        df.to_sql("daan_data",con=con,if_exists='append', index=False) #假設table已存在 就自動往下加入data
    except Exception as e:
        if 'PRIMARY' in str(e):
            pass
        
con.close() #關閉資料池連結
engine.dispose() #關閉資料庫連結